.filtros {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 22px;
    margin-top: 40px;
}

.categoriaPrecio {
    display: flex;
    gap: 6px;
}

.categoriaPrecio span {
    color: rgb(87, 145, 0);
}

.categoriaTipo {
    display: flex;
    gap: 5px;
}

@media(max-width:900px){
    .filtros {
        flex-direction: column;
    }
}